html{
    background: lightgray;
}

#driver-carousel{
    display: flex;
    flex-direction: column;
    width: 1280px;
}

.driver-card{
    width: 100%;
    height: 300px;
    flex-direction: row;
    border-radius: 24px;
    background: white;
}

.driver-card_left{
    height: 100%;
    flex-basis: 300px;
    padding: 24px 128px 24px 48px;
    flex-direction: column;
}

.bg-red-driver{
    background: #ff1801;
    display: block;
    width: 100%;
    height: auto;
    padding-left: 48px;
}

.driver-card_right{
    flex-grow: 4;
    padding: 24px;
}

